<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
 <xi:include href="master.html" />

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Flimsy</title>
    <script type="text/javascript" src="${tg.url('/scripts/jquery.js')}" ></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="${tg.url('/scripts/map.js')}" ></script>

<script type="text/javascript">
    var map;
    $(document).ready(function(){
        map = new FlimsyMap("map_canvas", ${lat}, ${lng});
        updateSensors()
    });

    function updateSensors() {
        $.getJSON("${tg.url('/map/sensors')}",
                  function(data){
                      map.handleSensors(data.sensors);
                  }
        );
        setTimeout('updateSensors()', 3000);
    }
</script>

</head>

<body>
    <div id="map_canvas" style="width:100%; height:600px"></div>
</body>
</html>
